.navbar-right{
  margin-right: 15px;
}
.item-line{
  line-height: 50px;
  text-align: center;
}
th,td{
  text-align: center;
  vertical-align: middle !important;
}
.img{
  background-size: 95% 95%;
  background-repeat: no-repeat;
  width: 50px;
  height:50px;
  vertical-align:middle;
}
.row>[class^="col-lg"]{
  text-align: center;
}
#third-list>.list-group-item:last-child{
  border: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.footer{
  display: inline-flex;
  width:100%;
  background-color: #f5f5f5;
  color:#999999;
  padding: 15px;
}
.night-pic{
  right: -42px;
  filter: drop-shadow(40px 0);
  -webkit-filter: drop-shadow(white -42px 0);
}
